@import url('https://fonts.cdnfonts.com/css/adobe-clean');

:root{
    --main-bg:#ffffff ;
    --blog: #97ddf8;
    --info:#f2feff;
    --unclicked-link:#000000;
    --clicked-link:rgb(146, 150, 150);
}

*{
    margin: 0;
    padding: 0;
}

#root{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body{
    background: var(--main-bg);
}

.header ul{
    list-style: none;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100px;

}

.img{
    border-radius: 10px;
    width: 150px;
    height: 100px;
}

.link{
    color: aliceblue;
}

.active{
    color:rgb(95, 156, 226);
    cursor: default;
    border-bottom: 2px solid gray;
}

.header ul a{
    margin: 20px;
    font-family: 'Adobe Clean';
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}

.header{

    background: rgb(96, 204, 231);
    
}

.blog{
    
    margin: 40px 200px;
    padding: 5px;
    height: min(100px);
    display: grid;
    grid-template-columns: 150px 1fr;
    font-family: 'Adobe Clean';
    font-weight: 300;
    font-size: 20px;
    color: aliceblue;
    background: var(--blog);
    
}

.no-img-blog{

    margin: 40px 200px;
    padding: 5px;
    height: min(100px);
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Adobe Clean';
    font-weight: 300;
    font-size: 20px;
    color: aliceblue;
    background: var(--blog);
}

.blog .info{
    margin-left:5px;
}


.blog a, .no-img-blog a{
text-decoration: none;
font-weight: 400;
color: var(--unclicked-link);

}

.blog a:visited, .no-img-blog a:visited{
    text-decoration: none;
    font-weight: bold;
    color: var(--clicked-link);
    }

.blog a:hover, .no-img-blog a:hover{
    text-decoration:underline
}

.info{
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    background-color: var(--info);
    color: #000;
}

.footer{
    height: 80px;
    background: rgb(96, 204, 231);
    padding: 40px;
    font-family: 'Adobe Clean';
    
}


.fav-icon{
    justify-content: flex-end;
    position: absolute;

}

.title{
    margin-top: 10px;
    color: #000000;
    font-family: Adobe Clean;
    grid-column: 1;
}

.desc{
    color: #000000;
    font-family: Adobe Clean; 
    font-size: 20px;
    grid-column: 1;
}

.post-page{
    padding: 20px;
    display:grid;
    grid-template-rows: 100px 200px 40px;
    grid-template-columns: 1fr 150px;
    justify-items: center;
}
.fav-btn{
    font-size: 30px;
    margin-top: 15px;
    margin-right: 20px;
    grid-column: 2;
    grid-row: 1;
    text-decoration: none;
    color: #000;
    
    
}
.fav-btn:hover{
    color: blue;
    text-decoration: underline;
}

#auth{
    font-size: 30px;
}
